{{define "MapMarkerScript"}}
<!DOCTYPE html>
<html>
<head>
    <title>Details - {{.Name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body class="backgroundImage">
    <div class="title-header"> 
        <h1>{{.Name}}</h1>
        <a href="/">
            <button class="back-button">Back to main page</button>
        </a>
    </div>
    <section class='band-details'>
        
        <div class='band-image'><img src='{{.Image}}' alt='{{.Name}}'></div>
        <div class='content-block'>
            <div  class='band-header'>
                <h1>Members</h1>
            </div> 
            <div class='band-content'>
                <ul>
                    {{range .Members}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </div> 
        </div>
        <div class='content-block'>
            <div class='band-created'>
                <div  class='band-header'>
                    <h1>Created</h1>
                </div> 
                <div class='band-content'>
                    {{.CreationDate}}
                </div> 
            </div>
            <div class='content-block'>
                <div  class='band-header'>
                    <h1>First album date</h1>
                </div> 
                <div class='band-content'>
                    {{.FirstAlbum}}
                </div> 
            </div>
        </div>
        <div class='content-block'>
            <div  class='band-header'>
                <h1>Concerts</h1>
            </div> 
            <div class='band-content'>
                <ul>
                    {{range $location, $date := .Relations.DatesLocations}}
                        <li class="loc">
                            {{ $location }}
                            <ul>
                                {{range $date}}
                                <li class="date">{{.}}</li>
                                {{ end }}
                            </ul>
                        </li>
                    {{end}}
                </ul>
            </div> 
        </div>
    </section>
</body>
<section id="map">
    <script>

        // the key and some other neccessary files?
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "AIzaSyAtXVNts14V8hmPnbC1tBsH0xnpRbIq97s",
          v: "weekly",
        });
        
        var CONCERT_LOC = {{.Coordinates}}

        /// Initialize and add the map
        let map;
        async function initMap() {

            // Request needed libraries.
            const { Map } = await google.maps.importLibrary("maps");

            map = new Map(document.getElementById("map"), {
                zoom: 2,
                center: {lat: 0, lng: 0},
            });
            // The markers
            for (let i = 0; i < CONCERT_LOC.length; i++) { 
                var markerLocation = CONCERT_LOC[i]
                var marker = new google.maps.Marker({
                    map: map,
                    position: {lat: markerLocation[0], lng: markerLocation[1]},
                });
            }
        }
        initMap();
    </script>
</section>
</html>
{{end}}