@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.body,
.container h1,
.container p,
.table, th, td,
.search-box,
.input,
.band-content,
.band-details,
.band-header,
.slider
{
    font-family: 'Vina Sans', sans-serif;
}

.title-header h1{
    font-family: 'Rock Salt', cursive, sans-serif;
    font-size: 50px;
    margin-right: auto;
}

.backgroundImage {
    background-image: url("./concert_background.jpg");   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.938);
}

.container h1 {
    font-size: 24px;
    color: #000000;
    padding: 10px;
}

.container p {
    font-size: 18px;
    color: #000000;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #6e03c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: #bc75ce
}

table, th, td {
    border: 1px solid black;
}

th {
    font-size: 30px;
    padding: 1em;
}

td {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}


table {
    width: 95%;
    background: rgba(255, 255, 255, 0.938);
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.search-box {
    width: 600px;
    background: #fff;
    margin: 100px auto 0;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input {
    flex: 1;
    height: 50x;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color:#555;
}

.result-box ul {
    border-top: 1px solid#999;
    padding: 15px 10px;
}
.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}
.result-box ul li:hover{
    background: #e9f3ff;
}

.result-box{
    max-height: 300px;
    overflow-y: scroll;
}

/* Add this section for horizontal layout of slider-container */
.slider-container {
    display: flex; /* Use flexbox to make the sliders horizontal */
    justify-content: center;
    align-items: center; /* Center sliders vertically */
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.938) !important;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Add margin for spacing */

}

/* Add this section for styling the individual sliders */
.slider {
font-size: 25px;
margin: 0 10px;
}

/* band details */
.band-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 1em;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.938);
}

.band-image {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.band-image img {
    width: 100%;
    height: auto;
}

.content-block {
    flex: 1;
}

.band-header {
    text-align: left;
    font-size: 40px;
}

.band-content {
    font-size: 25px;
}

.band-content ul {
    padding: 0;
}

.band-content li {
    margin-bottom: 10px;
    font-size: 25px;
}

.date {
    list-style-type: none;
}

.title-header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.938);
    margin-bottom: 1em;
    padding: 1em;
}

.back-button {
    margin-left: auto;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #6e03c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
}

.back-button:hover {
    background-color: #bc75ce
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    bottom: 0;
}